.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    padding: 20px;
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 70px;
    font-weight: bold;
    color: #000;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    align-items: center;
  }
  
  .inputContainer {
    width: 100%;
    margin-bottom: 30px;
  }
  
  .input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    font-size: 14px;
    color: #333;
    background-color: transparent;
    outline: none;
  }
  
  .input::placeholder {
    color: #aaa;
    font-size: 12px;
  }
  
  .submitButton {
    width: 100%;
    padding: 15px;
    background-color: #ffd700;
    font-size: 16px;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
  }
  
  .submitButton:hover {
    background-color: #fcd307;
  }
  
  .errorMessage {
    color: red;
    font-size: 12px;
    margin-top: 10px;
    text-align: center;
  }
  
  .successMessage {
    color: green;
    font-size: 12px;
    margin-top: 10px;
    text-align: center;
  }
  