/*건들이지 말기*/
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #A60000;
}

html.excluded,
body.excluded {
  background-color: #fff !important;
}

.container {
  width: 100%;
  height: 100%;
}
.snowBottomDefault {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 170vh;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 92%, #FFFFFF 99%);
}

.snowBottomPage {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40vh;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
}
